@page
@model LionPetManagement_StudentName.Pages.LionProfile.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LionProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Input.LionTypeId" class="control-label"></label>
                <select asp-for="Input.LionTypeId" class ="form-control" asp-items="Model.LionTypes"></select>
                <span asp-validation-for="Input.LionTypeId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LionName" class="control-label"></label>
                <input asp-for="Input.LionName" class="form-control" />
                <span asp-validation-for="Input.LionName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Weight" class="control-label"></label>
                <input asp-for="Input.Weight" class="form-control" />
                <span asp-validation-for="Input.Weight"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Characteristics" class="control-label"></label>
                <input asp-for="Input.Characteristics" class="form-control" />
                <span asp-validation-for="Input.Characteristics"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Warning" class="control-label"></label>
                <input asp-for="Input.Warning" class="form-control" />
                <span asp-validation-for="Input.Warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
